BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: 0
ColumnLimit: 80
BreakBeforeBraces: Attach
PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
PackConstructorInitializers: BinPack
