[Desktop Entry]
Type=Application
Name=OpenSCP
GenericName=SFTP Client
Comment=Two-panel SFTP client focused on simplicity and security
Exec=openscp
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Network;FileTransfer;Utility;
Keywords=SFTP;SSH;File;Transfer;Client;
StartupWMClass=OpenSCP
