[Desktop Entry]
Type=Application
Name=OpenSCP
GenericName=Remote File Transfer Client
Comment=Two-panel remote file transfer client focused on simplicity and security
Exec=openscp
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Network;FileTransfer;Utility;
Keywords=SFTP;SCP;SSH;Remote;File;Transfer;Client;
StartupWMClass=OpenSCP
