[Desktop Entry]
Type=Application
Name=OpenSCP
GenericName=Remote File Transfer Client
Comment=Two-panel remote file transfer client focused on simplicity and security
Exec=openscp
Icon=openscp
Terminal=false
Categories=Network;FileTransfer;Utility;
Keywords=Remote;File;Transfer;Client;Network;
StartupWMClass=OpenSCP
