[Desktop Entry]
Type=Application
Name=OpenSCP
GenericName=Remote File Transfer Client
Comment=Lightweight two-panel client for remote file transfers
Exec=openscp
Icon=openscp
Terminal=false
Categories=Network;FileTransfer;
Keywords=Remote;File;Transfer;Client;Network;
StartupWMClass=OpenSCP
